---
layout: default
title: Blog
---
<div id="content-div" class="col-md-12">
<!--Blog Tab-->
<section id="blog" class="bgWhite ofsInBottom">

	<!--Blog -->
	<div class="blog">
		<!--Main title-->
		<div class="main-title">
			<h1>Recent posts</h1>
			{% include zigzag-divider.html %}
		</div>
		<!--End main title-->

		<!--Content-->
		<div class="content">
			<!--Block content-->
			<div class="block-content ">
				<!--Works-->
				<div class="blog">
					<!--Row-->
					<div class="row">
						<div class="block-filter tCenter">
							<ul id="category" class="filter">
								<li><a data-filter="all" href="#" class="active">All</a></li>
								<li><a data-filter="cs" href="#">Computer Science</a></li>
								<li><a data-filter="languages" href="#">Languages</a></li>
								<li><a data-filter="travel" href="#">Travel</a></li>
							</ul>

						</div>
					</div>

					<!--Row-->
					<div class="row">
						<div class="divider-m tCenter margTSSmall margBSmall clearfix">
							<div class="col-md-12">
								<div class="zigzag medium clearfix " data-svg-drawing="yes">
									<svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="45" height="5" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
	<path d="M1.357,12.26 10.807,2.81 20.328,12.332
		29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 " style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"></path>
	</svg>
								</div>
							</div>
						</div>
					</div>

					<!--Row-->
					<div class="row">

						<!--Blog posts-->
						<div class="block-posts">
							{% if site.posts.size > 0 %}
								{% for post in site.posts %}
								{% unless post.tags contains 'draft' %}
								<!--Block post-->
								<div class="block-post {{post.category}}">
									<div class="col-md-12">
										<div class="post-title">
										  <a href="{{post.url}}">
										    <h1>{{post.title}}</h1>
										  </a>
										  <span class="meta-date">{{post.date | date_to_string}}</span>
										</div>

										<hr/>

										{{ post.excerpt }}
										<a href="{{post.url}}" class="but brd">Read More</a>

										<!--Divider-->
										<div class="clearfix"></div>
										<div class="divider-m tCenter margTSmall margBottom clearfix">
											<div class="col-md-12">
												{% include zigzag.html size='medium' %}
											</div>
										</div>
										<!-- End divider -->

									</div>
								</div>
								<!--End block post-->
								{% endunless %}
								{% endfor %}
							{% else %}
							<div class="block-post">
								<div class="col-md-12">
									<div class="post-title">
										<h1>There's nothing here yet, coming soon...</h1>
									</div>
								</div>
							</div>
							{% endif %}
							</div>
							<!--End blog posts-->

						</div>
						<!--End row-->
					</div>
					<!--End blog-->
				</div>
				<!--End block content-->
			</div>
			<!--End content-->

			{% include download_cv.html %}

		</div>
		<!--End blog-->

	</section>
	<!--End blog tab-->
</div>
