---
layout: default
title: About
---
<!--Left content-->
<div class="col-md-3 nopr left-content">
  <!--Header-->
  <header id="header">
    <!--Main header-->
    <div class="main-header">
      <!--Profile image-->
      <figure class="img-profile">
        <img src="{{base}}/img/profile.jpg" alt=""/>
      </figure>
      <!--End profile image-->
    </div>
    <!--End main header-->

    <div class="bottom-header bgWhite ofsTSmall ofsBSmall tCenter">
      <ul class="social">
        <li><a href="https://www.facebook.com/fayez.lahoud"><i class="icon-facebook"></i></a></li>
        <li><a href="https://twitter.com/fayez_lahoud"><i class="icon-twitter"></i></a></li>
        <li><a href="https://lb.linkedin.com/in/fayezlahoud"><i class="icon-linkedin"></i></a></li>
        <li><a href="https://github.com/GrimReaperSam"><i class="icon-github"></i></a></li>
      </ul>
    </div>


  </header>
  <!--End  header-->
</div>
<!--End left content-->

<!--Right content-->
<div id="content-div" class="col-md-9 right-content">
  <!--About Tab-->
  <section id="about" class="bgWhite ofsInBottom">

    <!--About -->
    <div class="about">

      <!--Main title-->

      <div class="main-title">
        <h1>who am i</h1>
        {% include zigzag-divider.html %}
      </div>

      <!--End main title-->


      <!--Content-->
      <div class="content">

        <!--Block content-->
        <div class="block-content margBSmall">

          <div class=" profile margBSmall">
            <h1>Fayez Lahoud</h1>
            <h3>PhD student, Computer Science</h3>
          </div>

          <!--Row-->
          <div class="row">

				<p class="margBMSSSmall">
					I am currently a PhD student in the <a href='https://ivrl.epfl.ch/'>IVRL</a> group of EPFL, headed by Professor
					<a href="https://ivrl.epfl.ch/people/susstrunk">Sabine Süsstrunk</a>. I obtained my Masters degree in Computer Science
					at <a href="http://epfl.ch">EPFL</a> doing my thesis in this same lab.
			  </p>
			  <p class="margBMSSSmall">
					I have previously worked at <a href="https://www.stuttgart.sony.de/">Sony Europe Ltd</a>,
					where I researched the use of convolutional neural network for speech recognition. I have also worked as an intern at
					<a href="https://www.vidinoti.com/">Vidinoti SA</a> where I developed a javascript AR tracking library.
			  </p>
			  <p class="margBMSSSmall">
					My research interests are in Computer Vision and Graphics, specifically to apply machine learning for image processing tasks.
			  </p>

            </div>
            <!--End row-->

          </div>
          <!--End block content-->


          <!--Block content-->
          <div class="block-content">
            <div class="info">
              <!--Row-->
              <div class="row">
                <div class="col-md-6">
                  <ul class="info-list clearfix">
                    <li><span class="inf">Name </span> <span
                      class="value">Fayez Lahoud</span></li>
                      <li><span class="inf">Date of birth</span> <span class="value"> January 16, 1992 </span>
                      </li>
                      <li><span class="inf">Email</span> <span class="value">fayezlahoud@gmail.com</span>
                      </li>
                    </ul>
                  </div>

                  <div class="col-md-6">
                    <ul class="info-list">
                      <li><span class="inf">Phone</span> <span class="value"> +41 078 848 01 94	</span>
                      </li>
                      <li><span class="inf">Address</span> <span class="value"> Chemin des Glycines 1 </span>
                      </li>
                      <li><span class="inf">City</span> <span class="value"> 1004 Lausanne</span>
                      </li>
                    </ul>
                  </div>

                </div>
                <!--End row-->
              </div>
            </div>
            <!--End block content-->
          </div>
          <!--End content-->


          <!--Main title-->

          <div class="main-title">
            <h1>education</h1>
            {% include zigzag-divider.html %}
          </div>

          <!--End main title-->


          <!--Content-->
          <div class="content">
            <!--Block content-->
            <div class="block-content">
              <!--Timeline-->
              <div class="timeline education">
                <!--Row-->
                <div class="row ">
                  <div class="col-md-12">
                    <!--Experience holder-->
                    <div class="exp-holder margTop">
                      {% for education in site.data.educations %}
                      <div class="exp">
                        <div class="hgroup">
                          <h4>{{education.degree}} - {{education.university}}</h4>
                          <h6><i class="icon-calendar"></i>{{education.period}}</h6>
                        </div>

                        <ul>
                          {% for mention in education.mentions %}
                          <li>{{mention.mention}}</li>
                          {% endfor %}
                        </ul>
                      </div>
                      {% endfor %}
                    </div> <!--End experience holder-->
                  </div>
                </div>
                <!--End row-->
              </div>
              <!--End timeline-->
            </div>
            <!--End block content-->
          </div>
          <!--End content-->


          <!--Main title-->
          <div class="main-title">
            <h1>experience</h1>
            {% include zigzag-divider.html %}
          </div>
          <!--End main title-->

          <!--Content-->
          <div class="content">
            <!--Block content-->
            <div class="block-content ">
              <!--Timeline-->
              <div class="timeline experience">
                <!--Row-->
                <div class="row ">
                  <div class="col-md-12">
                    <!--Experience holder-->
                    <div class="exp-holder margTop">
                      {% for experience in site.data.experiences %}
                      <div class="exp">
                        <div class="hgroup">
                          <h4>{{experience.position}} - {{experience.company}}</h4>
                          <h6><i class="icon-calendar"></i>{{experience.period}}</h6>
                        </div>

                        <ul>
                          {% for work in experience.works %}
                          <li>{{work.work}}</li>
                          {% endfor %}
                        </ul>
                        <p>Technologies: <strong>{{experience.technologies}}</strong></p>
                      </div>
                      {% endfor %}
                    </div>
                    <!--End experience holder-->
                  </div>
                </div>
                <!--End row-->
              </div>
              <!--End timeline-->
            </div>
            <!--End block content-->
          </div>
          <!--End content-->

          <!--Main title-->
          <div class="main-title">
            <h1>publications</h1>
            {% include zigzag-divider.html %}
          </div>
          <!--End main title-->

          <!--Content-->
          <div class="content">
            <!--Block content-->
            <div class="block-content ">
              <!--Timeline-->
              <div class="timeline publications">
                <!--Row-->
                <div class="row ">
                  <div class="col-md-12">
                    <!--Publications holder-->
                    <div class="exp-holder margTop">
                      {% bibliography %}
                    </div>
                    <!--End publications holder-->
                  </div>
                </div>
                <!--End row-->
              </div>
              <!--End timeline-->
            </div>
            <!--End block content-->
          </div>
          <!--End content-->

          {% include download_cv.html %}

        </div>
        <!--End about-->

      </section>
      <!--End about tab-->

    </div>
    <!--End right content-->
