---
layout: default
title: About
---
<!--Left content-->
<div class="col-md-3 nopr left-content">
  <!--Header-->
  <header id="header">
    <!--Main header-->
    <div class="main-header">
      <!--Profile image-->
      <figure class="img-profile">
        <img src="{{base}}/img/profile.jpg" alt=""/>
      </figure>
      <!--End profile image-->
    </div>
    <!--End main header-->

    <div class="bottom-header bgWhite ofsTSmall ofsBSmall tCenter">
      <ul class="social">
		<li><a href="mailto:fayez.lahoud@gmail.com"><i class="icon-mail"></i></a></li>
        <li><a href="https://lb.linkedin.com/in/fayezlahoud"><i class="icon-linkedin"></i></a></li>
        <li><a href="https://github.com/GrimReaperSam"><i class="icon-github"></i></a></li>
        <li><a href="https://www.instagram.com/grimreapersam/"><i class="icon-instagram"></i></a></li>
        <li><a href="https://www.flickr.com/photos/grimreapersam/"><i class="icon-flickr"></i></a></li>
      </ul>
    </div>


  </header>
  <!--End  header-->
</div>
<!--End left content-->

<!--Right content-->
<div id="content-div" class="col-md-9 right-content">
  <!--About Tab-->
  <section id="about" class="bgWhite ofsInBottom">

    <!--About -->
    <div class="about">

      <!--Main title-->

      <div class="main-title">
        <h1>who am i</h1>
        {% include zigzag-divider.html %}
      </div>

      <!--End main title-->


      <!--Content-->
      <div class="content">

        <!--Block content-->
        <div class="block-content margBSmall">

          <div class=" profile margBSmall">
            <h1>Fayez Lahoud</h1>
            <h3>Senior R&D Engineer</h3>
          </div>

          <!--Row-->
          <div class="row">

              <p class="margBMSSSmall">
                I am currently an R&D Engineer in the machine learning and analytics team at Pix4D SA.
			  </p>
			  <p class="margBMSSSmall">
                My research interests are in Computer Vision and 3D Graphics, specifically to apply machine learning for image processing tasks.
			  </p>

            </div>
            <!--End row-->
			{% include download_cv.html %}
          </div>
          <!--End block content-->

          </div>
          <!--End content-->

          <!--Main title-->
          <div class="main-title">
            <h1>education</h1>
            {% include zigzag-divider.html %}
          </div>
          <!--End main title-->

          <!--Content-->
          <div class="content">
            <!--Block content-->
            <div class="block-content">
              <!--Timeline-->
              <div class="timeline education">
                <!--Row-->
                <div class="row ">
                  <div class="col-md-12">
                    <!--Experience holder-->
                    <div class="exp-holder margTop">
                      {% for education in site.data.educations reversed %}
                      <div class="exp">
                        <div class="hgroup">
                          <h4>{{education.degree}} - {{education.university}}</h4>
                          <h6><i class="icon-calendar"></i>{{education.period}}</h6>
                        </div>

                        <ul>
                          {% for mention in education.mentions %}
                          <li>{{mention.mention}}</li>
                          {% endfor %}
                        </ul>
                      </div>
                      {% endfor %}
                    </div> <!--End experience holder-->
                  </div>
                </div>
                <!--End row-->
              </div>
              <!--End timeline-->
            </div>
            <!--End block content-->
          </div>
          <!--End content-->


          <!--Main title-->
          <div class="main-title">
            <h1>experience</h1>
            {% include zigzag-divider.html %}
          </div>
          <!--End main title-->

          <!--Content-->
          <div class="content">
            <!--Block content-->
            <div class="block-content ">
              <!--Timeline-->
              <div class="timeline experience">
                <!--Row-->
                <div class="row ">
                  <div class="col-md-12">
                    <!--Experience holder-->
                    <div class="exp-holder margTop">
                      {% for experience in site.data.experiences reversed %}
                      <div class="exp">
                        <div class="hgroup">
                          <h4>{{experience.position}} - {{experience.company}}</h4>
                          <h6><i class="icon-calendar"></i>{{experience.period}}</h6>
                        </div>

                        <ul>
                          {% for work in experience.works %}
                          <li>{{work.work}}</li>
                          {% endfor %}
                        </ul>
                        <p>Technologies: <strong>{{experience.technologies}}</strong></p>
                      </div>
                      {% endfor %}
                    </div>
                    <!--End experience holder-->
                  </div>
                </div>
                <!--End row-->
              </div>
              <!--End timeline-->
            </div>
            <!--End block content-->
          </div>
          <!--End content-->

          <!--Main title-->
          <div class="main-title">
            <h1>publications</h1>
            {% include zigzag-divider.html %}
          </div>
          <!--End main title-->

          <!--Content-->
          <div class="content">
            <!--Block content-->
            <div class="block-content ">
              <!--Timeline-->
              <div class="timeline publications">
                <!--Row-->
                <div class="row ">
                  <div class="col-md-12">
                    <!--Publications holder-->
                    <div class="exp-holder margTop">
                      {% bibliography %}
                    </div>
                    <!--End publications holder-->
                  </div>
                </div>
                <!--End row-->
              </div>
              <!--End timeline-->
            </div>
            <!--End block content-->
          </div>
          <!--End content-->

        </div>
        <!--End about-->

      </section>
      <!--End about tab-->

    </div>
    <!--End right content-->
