---
layout: default
title: About
---

<!--About Tab-->
<section id="about" class="bgWhite ofsInBottom">

    <!--About -->
    <div class="about">

        <!--Main title-->

        <div class="main-title">
            <h1>who am i</h1>
            {% include zigzag-divider.html %}
        </div>

        <!--End main title-->


        <!--Content-->
        <div class="content">

            <!--Block content-->
            <div class="block-content margBSmall">

                <div class=" profile margBSmall">
                    <h1>Fayez Lahoud</h1>
                    <h3>Software Developer / Data Scientist</h3>
                </div>

                <!--Row-->
                <div class="row">
                    <div class="col-md-6">
                        <p>I have been working with computers for over 10 years and have a passion for
                            learning as much as possible about them.
                            My main area of interest is software, with a focus on machine learning and
                            image processing.
                        </p>
                    </div>


                    <div class="col-md-6">
                        <p>I am always eager to learn about the latest technologies available. I
                            consider myself a quick learner and an organised person,
                            comfortable in any working team environment, while being equally at ease
                            working alone.</p>
                    </div>


                </div>
                <!--End row-->

            </div>
            <!--End block content-->


            <!--Block content-->
            <div class="block-content">
                <div class="info">
                    <!--Row-->
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="info-list clearfix">
                                <li><span class="inf">Name </span> <span
                                        class="value">Fayez Lahoud</span></li>
                                <li><span class="inf">Date of birth</span> <span class="value"> January 16, 1992 </span>
                                </li>
                                <li><span class="inf">Email</span> <span class="value">fayezlahoud@gmail.com</span>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-6">
                            <ul class="info-list">
                                <li><span class="inf">Phone</span> <span class="value"> +41 078 848 01 94	</span>
                                </li>
                                <li><span class="inf">Address</span> <span class="value"> Avenue Dapples 14 </span>
                                </li>
                                <li><span class="inf">City</span> <span class="value"> 1006 Lausanne</span>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!--End row-->
                </div>
            </div>
            <!--End block content-->
        </div>
        <!--End content-->


        <!--Main title-->

        <div class="main-title">
            <h1>education</h1>
            {% include zigzag-divider.html %}
        </div>

        <!--End main title-->


        <!--Content-->
        <div class="content">
            <!--Block content-->
            <div class="block-content">
                <!--Timeline-->
                <div class="timeline education">
                    <!--Row-->
                    <div class="row ">
                        <div class="col-md-12">
                            <!--Experience holder-->
                            <div class="exp-holder margTop">
                              {% for education in site.data.educations %}
                              <div class="exp">
                                  <div class="hgroup">
                                      <h4>{{education.degree}} - {{education.university}}</h4>
                                      <h6><i class="icon-calendar"></i>{{education.period}}</h6>
                                  </div>

                                  <ul>
                                    {% for mention in education.mentions %}
                                      <li>{{mention.mention}}</li>
                                    {% endfor %}
                                  </ul>
                              </div>
                              {% endfor %}
                            </div> <!--End experience holder-->
                        </div>
                    </div>
                    <!--End row-->
                </div>
                <!--End timeline-->
            </div>
            <!--End block content-->
        </div>
        <!--End content-->


        <!--Main title-->
        <div class="main-title">
            <h1>experience</h1>
            {% include zigzag-divider.html %}
        </div>
        <!--End main title-->

        <!--Content-->
        <div class="content">
            <!--Block content-->
            <div class="block-content ">
                <!--Timeline-->
                <div class="timeline experience">
                    <!--Row-->
                    <div class="row ">
                        <div class="col-md-12">
                            <!--Experience holder-->
                            <div class="exp-holder margTop">
                              {% for experience in site.data.experiences %}
                              <div class="exp">
                                  <div class="hgroup">
                                      <h4>{{experience.position}} - {{experience.company}}</h4>
                                      <h6><i class="icon-calendar"></i>{{experience.period}}</h6>
                                  </div>

                                  <ul>
                                    {% for work in experience.works %}
                                      <li>{{work.work}}</li>
                                    {% endfor %}
                                  </ul>
                                  <p>Technologies: <strong>{{experience.technologies}}</strong></p>
                              </div>
                              {% endfor %}
                            </div>
                            <!--End experience holder-->
                        </div>
                    </div>
                    <!--End row-->
                </div>
                <!--End timeline-->
            </div>
            <!--End block content-->
        </div>
        <!--End content-->

        <!--Main title-->
        <div class="main-title">
            <h1>publications</h1>
            {% include zigzag-divider.html %}
        </div>
        <!--End main title-->

        <!--Content-->
        <div class="content">
            <!--Block content-->
            <div class="block-content ">
                <!--Timeline-->
                <div class="timeline publications">
                    <!--Row-->
                    <div class="row ">
                        <div class="col-md-12">
                            <!--Publications holder-->
                            <div class="exp-holder margTop">
                                {% for publication in site.data.publications %}
                                <!--Publication-->
                                <div class="exp contact-info">
                                    <p>
                                        <strong>
                                            <a href="{{publication.link}}">
                                                {{publication.title}}
                                            </a>
                                        </strong>
                                        <br/>
                                        {{publication.conference}}
                                    </p>
                                </div>
                                {% endfor %}
                            </div>
                            <!--End publications holder-->
                        </div>
                    </div>
                    <!--End row-->
                </div>
                <!--End timeline-->
            </div>
            <!--End block content-->
        </div>
        <!--End content-->

        {% include download_cv.html %}

    </div>
    <!--End about-->

</section>
<!--End about tab-->
