---
layout: default
title: Projects
---
<div id="content-div" class="col-md-12">
<!--Portfolio Tab-->
<section id="portfolio" class="bgWhite ofsInBottom">
    <!--Portfolio -->
    <div class="portfolio">
        <!--Main title-->
        <div class="main-title">
            <h1>my works</h1>
            {% include zigzag-divider.html %}
        </div>
        <!--End main title-->

        <!--Content-->
        <div class="content">
            <!--Block content-->
            <div class="block-content ">
                <!--Works-->
                <div class="works">

                    <!--Row-->
                    <div class="row">
                        <ul class="work">
                            {% for item in site.projects %}
                            <li class="col-md-4 ">
                                <!--Item-->
                                <div class="item">
                                    <a class="box" href="{{item.url}}">
                                        <div class="desc">
                                            <h3 class="proj-desc">{{item.title}}
                                                <div class="zigzag work clearfix" data-svg-drawing="yes">
                                                	<svg  xml:space="preserve" viewBox="0 0 69.172 14.975" width="25" height="10" y="0px" x="0px" xmlns="http://www.w3.org/2000/svg" version="1.1">
                                                	<path d="M1.357,12.26 10.807,2.81 20.328,12.332
                                                		29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
                                                	</svg>
                                                </div>
                                                <span>{{item.category}}</span></h3>
                                        </div>

                                        <img alt="" src="{{base}}/{{item.image_path}}">
                                        <h2 style='text-align:center;margin-top:15px'>{{item.title}}</h2>
                                    </a>
                                </div>
                                <!--End item-->
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!--End row-->
                </div>
                <!--End works-->

                <div class="clearfix"></div>

            </div>
            <!--End block content-->
        </div>
        <!--End content-->

        {% include download_cv.html %}

    </div>
    <!--End portfolio-->

</section>
<!--End portfolio tab-->
</div>
