---
layout: default
---
<div id="content-div" class="col-md-12">
<!--Portfolio Tab-->
<section id="blog" class="bgWhite ofsInBottom">

  <!--Portfolio -->
  <div class="blog">

    <!--Main title-->

    <div class="main-title">
      <h1>The Blog</h1>
      {% include zigzag-divider.html %}
    </div>
    <!--End main title-->

    <!--Content-->
    <div class="content single">
      <!--Block content-->
      <div class="block-content ">
        <!--Works-->
        <div class="blog">
          <!--Row-->
          <div class="row">
            <!--Blog posts-->
            <div class="block-posts clearfix">
              <div class="post-title">
                <a href="{{page.url}}">
                  <h1>{{page.title}}</h1>
                </a>
                <span class="meta-date">{{page.date | date_to_string}}</span>
              </div>

              <hr/>

              {{content}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Comments
    Button -->
</div>
