---
layout: default
---
<!--Portfolio Tab-->
<section id="blog" class="bgWhite ofsInBottom">

  <!--Portfolio -->
  <div class="blog">

    <!--Main title-->

    <div class="main-title">
      <h1>The Blog</h1>
      {% include zigzag-divider.html %}  
    </div>
    <!--End main title-->

    <!--Content-->
    <div class="content single">
      <!--Block content-->
      <div class="block-content ">
        <!--Works-->
        <div class="blog">
          <!--Row-->
          <div class="row">
            <!--Blog posts-->
            <div class="block-posts clearfix">
              {{content}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Comments
    Button -->
