---
layout: default
---
<div id="content-div" class="col-md-12">
<!--Portfolio single-->
<section id="portfolio" class="bgWhite ofsInBottom ">

    <!--Portfolio -->
    <div class="portfolio">

        <!--Main title-->
        <div class="main-title work-title">
            <h1>{{page.title}}</h1>
            {% include zigzag-divider.html %}
        </div>
        <!--End main title-->


        <!--Content-->
        <div class="content">
            <!--Block content-->
            <div class="block-content">
              <div class="block-nav-work margBottom">
                <ul>
                  {% if page.previous.url %}
                    <li><a href="{{page.previous.url}}"><i class="icon-left-open-mini"></i></a></li>
                  {% else %}
                    <li><a style="visibility:hidden"><i class="icon-left-open-mini"></i></a></li>
                  {% endif %}

                  <li><a href="/projects.html"><i class="icon-cancel"></i></a></li>

                  {% if page.next.url %}
                    <li><a href="{{page.next.url}}"><i class="icon-right-open-mini"></i></a></li>
                  {% else %}
                    <li><a style="visibility:hidden"><i class="icon-right-open-mini"></i></a></li>
                  {% endif %}
                </ul>
              </div>

              <div class="block-single margBottom clearfix">
                <div class="col-md-10 col-md-offset-1">
                  <h1 class="large-title margBSSmall">{{page.title}}</h1>

                  {{content}}
                </div>
              </div>
            </div>
            <!--End block content-->
        </div>
        <!--End content-->

    </div>
    <!--End portfolio-->

</section>
<!--End portfolio single-->
</div>
