---
layout: default
---

<!--Portfolio single-->
<section id="portfolio" class="bgWhite ofsInBottom ">

    <!--Portfolio -->
    <div class="portfolio">

        <!--Main title-->
        <div class="main-title work-title">
            <h1>{{page.title}}</h1>
            {% include zigzag-divider.html %}
        </div>
        <!--End main title-->


        <!--Content-->
        <div class="content">
            <!--Block content-->
            <div class="block-content">
                {{content}}
            </div>
            <!--End block content-->
        </div>
        <!--End content-->

    </div>
    <!--End portfolio-->

</section>
<!--End portfolio single-->
